<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Task List</title>
</head>
<body>
        <h1>Task List</h1>
        <a href="{% url 'task_create' %}">Add Task</a>
        <ul>
                {% for task in tasks %}
                        <li>
                                <strong>{{ task.title }}</strong>
                                - {{ task.description }}
                                -completed: {{ task.completed }}
                                <a href="{% url 'task_update' task.id %}">Edit</a>
                                <a href="{% url 'task_delete' task.id %}">Delete</a>
                        </li>
                {% empty %}
                        <li>No tasks available.</li>
                {% endfor %}
        </ul>
</body>
</html>